.news-item {
    border-bottom: 1px solid $color-gray-cool-5;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  
    @media only screen and(min-width: $desktop-size) {
      margin-bottom: 0;
    }
  
    &:not(:first-child) {
      padding-top: 1rem;
    }
  
    &.featured-news-item {
      @media only screen and(min-width: $desktop-size) {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  
    &-sm {
      h3 {
        line-height: 1.7rem;
        margin-top: 0.5rem;
      }
    }
  
    img {
      height: auto;
      width: 100%;
    }
  
    .square-link {
      font-size: 0.95rem;
    }
}    