.team-member-card {
  border: 1px solid $color-border;
  border-radius: 3px;
  box-shadow: 3px 10px 13px 0px rgba(0,0,0,0.15);
  height: 100%;
  padding-bottom: 2.5rem;
  position: relative;

  img {
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
  }
}

.member-card-content {
  padding: 0.5rem 1rem 0 1rem;
}

.team-member-heading {
  padding: 0rem 1rem;
  margin-bottom: 0;
}