#team-map {
  display: block;
  margin: auto;
  text-align: center;
  width: auto;
  height: 30rem;
  margin: 1rem;
}

.team-member-card {
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  box-shadow: 3px 10px 13px 0px rgba(0,0,0,0.15);
  height: 100%;
  padding-bottom: 2.5rem;
  position: relative;

  img {
    display: block;
    margin: auto;
    height: 20rem;
    width: auto;
  }
}

.member-card-content {
  padding: 0.5rem 1rem 0 1rem;
}

.team-member-heading {
  padding: 0rem 1rem;
}