.page-apply {
  
  section {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.apply-faq {

  .grid-container {
    border-top: 1px solid black;
    padding-top: 2rem;
  }
}

.apply-overview {

  p {
    font-size: 1.1rem;
    line-height: 1.6em;
  }
}

.position-subtitle {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0;
}

.position-list-item {
  
  h2 {
    margin-bottom: 0;
  }
}
