.page-bios {
    #team-map {
        display: block;
        margin: auto;
        text-align: center;
        width: auto;
        max-width: 30rem;
        max-height: 20rem;

        .state {
            fill: #CCCCCC;
            stroke: $color-white;
        }
        .team-state {
            fill: #6D619E;
            stroke: $color-white;
        }
    }
}

.team-member-cards {
    margin-bottom: 2rem;

    .member-link {
        text-decoration: none;
        &:hover {
            .member-name {
                text-decoration: underline;
            }
          }
    }
}