.home-hero {
  margin-bottom: 75px;

  h1 {
    font-weight: normal;
    margin: 0 0 1rem;

    @include at-media('tablet') {
      font-size: 2.5rem;
    }

    @include at-media('desktop') {
      font-size: 3rem;
    }
  }

  .hero-left {
    padding-top: 2rem;

    @include at-media('tablet') {
      padding-top: 6rem;      
    }

    .gray-box {
      background-color: $color-gray-cool-5;
      bottom: -30px;
      height: 60px;
      position: absolute;
      max-width: 1160px;
      width: 160%;

      @include at-media('tablet') {
        bottom: -45px;
        height: 90px;
        width: 140%;
      }
    }
  }

  .hero-right {

    img {
      display: block;
      margin: 0 auto;
      max-width: 450px;
      width: 100%;
    }
  }

  .hero-left-content {
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem 2rem 1rem 1rem;
    width: 100%;

    padding: 1rem 2rem 1rem 1rem;

    @include at-media('desktop') {
      padding: 2rem;      
    }

    p {

      @include at-media('tablet') {
        font-size: 1.1rem;        
      }

      @include at-media('desktop') {
        font-size: 1.2rem;        
      }
    }
  }

  .hero-right-content {
    background-color: $color-banner;
    padding: 6rem 0;

    @include at-media('tablet') {
      padding: 6rem 0;        
    }

    @include at-media('desktop') {
      padding: 2rem;        
    }
  }
}

.home-mission {

  h2 {
    font-weight: normal;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.home-news {

  .home-news-items {
    margin-top: 2rem;
  }
}

.home-projects {

  h3 {
    margin-top: 0;
  }

  .section-breadcrumb {
    margin-bottom: 2rem;
  }

  .square-link {
    bottom: 1rem;
    font-size: 0.95rem;
    position: absolute;
  }
}

.news-item {
  border-bottom: 1px solid $color-gray-cool-5;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  @include at-media('desktop') {
    margin-bottom: 0;
  }

  &:not(:first-child) {
    padding-top: 1rem;
  }


  &.featured-news-item {
    @include at-media('desktop') {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  img {
    height: auto;
    width: 100%;
  }

  .square-link {
    font-size: 0.95rem;
  }
}

.news-item-sm {
  h3 {
    line-height: 1.7rem;
    margin-top: 0.5rem;
  }
}

.page-home {

  main {
    
    &.main-content {
      padding-top: 0;
    }
  }

  section {

    &:not(.home-hero) {
      padding-top: 4rem;

      @include at-media('desktop') {
        padding-top: 6rem;
      }
    }
  }
}