.page-index {
  padding-bottom: 6em;

  .cta-link {
    bottom: 1rem;
    color: $color-brand-blue;
    font-weight: bold;
    position: absolute;
    text-decoration: none;

    &:hover {
      color: darken($color-brand-blue, 10);
    }
  }

  .ctas {
    margin-top: 4rem;

    .usa-grid {
      display: flex;
    }
  }

  .hero {
    padding: 8rem 0;
  }

  .hero-content {
    max-width: 62rem;

    a {
      border-bottom: 2px solid $color-brand-blue;
      color: $color-brand-blue;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        border-bottom: 2px solid darken($color-brand-blue, 10);
        color: darken($color-brand-blue, 10);
      }
    }

    h1 {
      font-weight: normal;
      margin: 0 0 1rem;
    }
  }

  .island {
    background-color: $color-white;
    box-shadow: 0 2px 3px rgba($color-gray-dark, 0.05);
    box-sizing: border-box;
    padding: 3rem;

    @include media($medium-screen) {
      height: 40rem;
    }

    &.island-callout {

      h2 {
        font-size: 3rem;
      }

      .cta {
        color: $color-brand-blue;
      }
    }

    &.island-dds {
      @include transform(scale3d(1, 1, 1));
      @include transition(all 0.25s ease);
      background-image: linear-gradient(to bottom, transparent 0%, rgba($color-black, 0.3) 50%, rgba($color-black, 0.6) 100%), url("../img/pages/index/dds-image.jpg");
      background-size: cover;
      padding: 0;

      &:hover {
        @include transform(scale3d(1.02, 1.02, 1.02));
        box-shadow: 0 3px 6px rgba($color-gray-dark, 0.3);
      }

      a {
        color: $color-white;
        display: block;
        padding: 25rem 3rem 3rem;
      }

      .cta {
        color: $color-white;
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
    }

    h2 {
      margin: 0;
    }

    .cta {
      @include transition(color 0.25s ease);
      color: $color-brand-blue;
      font-size: 1.1em;
      font-weight: bold;
      margin: 1.5rem 0;
    }
  }

  .island-container {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .island-description {
    font-size: 1.85rem;
  }

  .main-content {
    padding-top: 0;
  }

  .tile {
    @include span-columns(2 of 6);
    border-bottom: 4px solid $color-gray-light;
    flex: 1;
    padding-bottom: 6rem;
    position: relative;

    h2 {
      font-weight: normal;
      margin: 1.5rem 0 0;
    }

    span {
      color: lighten($color-gray, 10);
      display: inline-block;
      font-size: 1.6rem;
      margin-top: 1rem;
    }
  }
}