.usa-button {

  &.xd-btn {
    background-color: $color-brand-blue;
    color: $color-white;
    padding: 1.4rem 2.5rem;

    &:hover {
      background-color: darken($color-brand-blue, 15);
    }
  }
}