@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500');

$font-sans: Montserrat, Open Sans;

html {
  font-family: $font-sans;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
  font-weight: 300;
}