@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500');

$font-sans: Montserrat, Open Sans;

a {
  color: $color-brand-blue;

  &:hover {
    color: darken($color-brand-blue, 15);
  }

  &:visited {
    color: $color-brand-blue;
  }
}

html {
  font-family: $font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
}

p {
  font-family: Open Sans;
  font-size: 1.7rem;
  font-weight: normal;

  @include media($small-screen) {
    font-size: 1.9rem;
  }
}