<footer role="contentinfo">
  <div class="usa-grid">
    <div class="usa-width-one-half">
      <a class="site-logo-footer" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/img/logos/xd-minimal-dark.svg" alt="xD">
      </a>
      <a class="census-logo-footer" href="https://www.census.gov/" target="_blank">
        <img src="{{ site.baseurl }}/assets/img/logos/census-dark.png" alt="U.S. Census Bureau">
      </a>
    </div>
    <div class="usa-width-one-half">
      <div class="footer-links">
        <ul class="usa-unstyled-list">
          <li><a href="{{ site.baseurl }}{% link _pages/about.md %}">About Us</a></li>
          <li><a href="{{ site.baseurl }}{% link _pages/join.md %}">Join xD</a></li>
          <li><a href="mailto:hello@xd.gov">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <ul class="usa-unstyled-list">
          <li><a href="https://github.com/XDgov/xd.gov/issues/new">Report a Bug</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>