<footer role="contentinfo">
  <div class="usa-grid">
    <div class="usa-width-one-half img-links">
      <div class="clearfix">
        <a class="census-logo-footer" href="https://www.census.gov/" target="_blank">
          <img src="{{ site.baseurl }}/assets/img/logos/census.png" alt="U.S. Census Bureau">
        </a>
      </div>
    </div>
    <div class="usa-width-one-half">
      <div class="clearfix">
        <div class="footer-links">
          <ul class="usa-unstyled-list">
            <li><a href="{{ site.baseurl }}{% link _pages/about.md %}">About Us</a></li>
            <li><a href="{{ site.baseurl }}{% link _pages/join.md %}">Join xD</a></li>
            <li><a href="mailto:hello@xd.gov">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <ul class="usa-unstyled-list">
            <li><a href="https://github.com/XDgov/xd.gov/issues/new">Report a Bug</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>