<footer role="contentinfo" class="usa-footer">
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="col-6 tablet:grid-col-4">
          <a class="census-logo-footer" href="https://www.census.gov/" target="_blank">
            <img src="{{ site.baseurl }}/assets/img/logos/census.png" alt="U.S. Census Bureau">
          </a>
        </div>
        <div class="col-6 tablet:grid-col-8 grid-row">
          <div class="col-12 tablet:grid-col-6">
            <h4>Helpful Links</h4>
            <nav class="usa-footer_nav">
              {% assign footer = site.data.footer %}
              {% assign _secondary = footer.secondary.links %}
              {% assign secondary_links = site.data.navigation[_secondary] | default: _secondary %}
              {% if secondary_links %}
                <ul class="usa-list usa-list--unstyled">
                  {% for _section in secondary_links %}
                    <li>
                      <a class="{% if _section.class %}{{ _section.class }}{% else %} usa-nav-link {% endif %} {% if _section.href == page.permalink %} usa-current{% endif %}" href="{% if _section.external %}{{ _section.href }}{% else %}{{ _section.href | relative_url }}{% endif %}">
                        <span>{{ _section.text }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </nav>
          </div>
          <div class="col-12 tablet:grid-col-6">
            <h4>Get the Latest</h4>
            <p class="color-white">
              Keep up to date with xD’s work and the Emerging Technology 
              Fellowship by signing up for updates.
            </p>
            <p>
              <a href="https://public.govdelivery.com/accounts/USCENSUS/signup/34927" target="_blank" class="usa-button usa-button-white">Subscribe<span class="visually-hidden"> to the xD mailing list</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        View our <a href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a>
        <div class="footer-seperator">•</div>
        Find Us on <a href="https://github.com/XDgov/">GitHub</a>
      </div>
    </div>
  </div>
</footer>