{% include components/banner.html %}
{% if page.url == '/' %}
<div class="usa-alert usa-alert--info">
  <a class="application-link" href="{{ site.baseurl }}/apply">
    <div class="usa-alert__body">
        <h4 class="usa-alert__heading">Coming Soon - Recruiting for the 2024 Cohort!</h4>
        <p class="usa-alert__text">
            The application period for the Emerging Technology Fellowship will open in the next few weeks! Check back with us soon.
        </p>
    </div>
  </a>
</div>
{% endif %}
<header class="usa-header site-header">
  <div class="usa-navbar site-header-navbar">
    <div class="grid-row">
      <div class="hero-left grid-col-5">
        {% include components/logo.html %}
      </div>
      <div class="hero-right grid-col-7">
        {% include components/navigation.html %}
      </div>
    </div>
  </div>
</header>
<div class="usa-overlay"></div>
