footer {
  &[role=contentinfo] {
    background-color: $color-gray-lightest;
    padding: 5rem 0 10rem;
  }

  li {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .footer-links {

    @include media($small-screen) {
      float: left;
      width: 50%;
    }

    @include media($medium-screen) {
      margin-top: 0;
    }

    a {
      color: $color-black;
      padding-bottom: 0.1rem;
      text-decoration: none;

      &:hover {
        border-bottom: 3px solid $color-black;
      }

      &:visited {
        color: $color-black;
      }
    }
  }

  .img-links {
    margin-bottom: 1.5rem;
  }

  .usa-unstyled-list {
    
    >li {
      margin-bottom: 0.5rem;
    }
  }
}

.census-logo-footer {
  float: left;
  margin: 0.5rem 0 0 2rem;

  img {
    width: 8rem;
  }
}

.site-logo-footer {
  float: left;

  img {
    width: 4rem;
  }
}