header {
  &[role=banner] {
    background-color: $color-white;
  }
}

nav {
  &[role=navigation] {
    float: right;
    margin-top: 3.5rem;

    a {
      @include transition(all 0.2s ease);
      color: $color-gray-dark;
      font-weight: bold;
      padding: 1.5rem 2.5rem;
      text-decoration: none;

      &:hover {
        background-color: $color-gray-lightest;
        color: $color-black;
      }
    }

    li {
      display: inline-block;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.menu-btn {
  float: right;

  @include media($medium-screen) {
    display: none;
  }
}

.site-logo {
  float: left;

  img {
    width: 8rem;

    @include media($medium-screen) {
      margin: 2rem 0 2rem;
    }
  }
}

.site-navbar {
  @include clearfix;
}