.position {
  .page-content {
    p {
      font-size: 1.1rem;

      a {
        color: $color-black;
        text-decoration: underline;
      }
    }
  }

  h1 {
    margin: 0.5rem 0 0;
  }
}

#application-form {
  .submission-button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}
