.team-member {

    main {

      &.main-content {
        padding-top: 2rem;
      }

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .paper-title {
        font-style: italic;
      }
    }

    .member-title, .member-cohort {
      font-weight: normal;
    }

    .member-title {
      font-size: 1.2em;
    }

    // color palette inspo: http://colrd.com/palette/40498/
    .skills-container {
      .ai-governance {
        background-color: darken(#B2A6F5, 15);
      }
      .cloud-management {
        background-color: darken(#5A98FA, 15);
      }
      .computer-vision {
        background-color: darken(#4032E6, 15);
      }
      .data-science {
        background-color: darken(#8E39EF, 15);
      }
      .data-engineering {
        background-color: darken(#C73E87, 15);
      }
      .privacy-enhancing-technologies {
        background-color: darken(#DB5758, 15);
      }
      .fullstack-engineering {
        background-color: darken(#E5734C, 15);
      }
      .human-centered-design {
        background-color: darken(#EC9F4A, 15);
      }
      .machine-learning {
        background-color: darken(#F1B64D, 15);
      }
      .tech-policy {
        background-color: darken(#FDE775, 15);
      }
      .technical-project-management {
        background-color: darken(#EFE86F, 15);
      }
      .cybersecurity {
        background-color: darken(#B5D267, 15);
      }
    }

    .profile-img {
      max-width: 25rem;
      width: 100%;
      display: block;
      margin-bottom: auto;
      margin-top: auto;
    }

    .project-header {
      width: 100%;
    }

    .bio-content-container {

      @media only screen and(min-width: $tablet-size) {
        margin-top: 2rem;
      }

      @media only screen and(min-width: $tablet-size) {
        margin-top: 3rem;
      }
    }

    .bio-content {

      p {
        font-size: 1.2rem;

        &.news-cta {
          font-size: 1rem;
        }
      }

      .square-link {
        margin-top: 1rem;
      }
    }

    .contact-info {
      font-size: 1.2rem;
    }

    .post-author, .news-date {
      font-family: $font-serif;
    }

    .news-fellow {
      border-bottom: 1px solid #000;
      margin-bottom: 2rem;
      padding-bottom: 1.5rem;

      p {
        font-size: 1.1rem;
      }
    }

    .news-image-container {
      margin-bottom: 2rem;
    }

    .news-item {
      @media only screen and(min-width: $tablet-size) {
        border-bottom: 0;
      }
    }

    .news-row {
      flex-direction: column-reverse;

      @media only screen and(min-width: $tablet-size) {
        flex-direction: row;
      }
    }

    .hiring {
      margin-top: 6rem;

      @media only screen and(min-width: $tablet-size) {
        margin-top: 8rem;

      }
    }
  }
