<form id="application-form" class="usa-form--large">
    <fieldset class="usa-fieldset">
        <legend class="usa-legend usa-legend--large">Application Submission</legend>
        <p>OMB Control Number: 0690-0038 (Expiration date: 07/31/2026)</p>
        <p>This form's Privacy Act Statement can be reviewed <a href="{{ site.baseurl }}/apply/privacy-statement">here</a>.</p>
        <p>
            Required fields are marked with an asterisk (<abbr
              title="required"
              class="usa-hint usa-hint--required"
              >*</abbr
            >).
          </p>

        <label class="usa-label" for="name">Name<abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
        <input class="usa-input" id="name" name="name" type="text" required />

        <label class="usa-label" for="mailing-address">Street address</label>
        <input class="usa-input" id="mailing-address" name="mailing-address" type="text" />

        <div>
        <div class="usa-input-grid usa-input-grid-medium">
            <label class="usa-label" for="city">City</label>
            <input class="usa-input" id="city" name="city" type="text" />
        </div>

        <div class="usa-input-grid usa-input-grid-small">
            <label class="usa-label" for="state">State</label>
            <select class="usa-select" id="state" name="state">
                <option value>- Select -</option>
                <option value="AL">AL - Alabama</option>
                <option value="AK">AK - Alaska</option>
                <option value="AS">AS - American Samoa</option>
                <option value="AZ">AZ - Arizona</option>
                <option value="AR">AR - Arkansas</option>
                <option value="CA">CA - California</option>
                <option value="CO">CO - Colorado</option>
                <option value="CT">CT - Connecticut</option>
                <option value="DE">DE - Delaware</option>
                <option value="DC">DC - District of Columbia</option>
                <option value="FL">FL - Florida</option>
                <option value="GA">GA - Georgia</option>
                <option value="GU">GU - Guam</option>
                <option value="HI">HI - Hawaii</option>
                <option value="ID">ID - Idaho</option>
                <option value="IL">IL - Illinois</option>
                <option value="IN">IN - Indiana</option>
                <option value="IA">IA - Iowa</option>
                <option value="KS">KS - Kansas</option>
                <option value="KY">KY - Kentucky</option>
                <option value="LA">LA - Louisiana</option>
                <option value="ME">ME - Maine</option>
                <option value="MD">MD - Maryland</option>
                <option value="MA">MA - Massachusetts</option>
                <option value="MI">MI - Michigan</option>
                <option value="MN">MN - Minnesota</option>
                <option value="MS">MS - Mississippi</option>
                <option value="MO">MO - Missouri</option>
                <option value="MT">MT - Montana</option>
                <option value="NE">NE - Nebraska</option>
                <option value="NV">NV - Nevada</option>
                <option value="NH">NH - New Hampshire</option>
                <option value="NJ">NJ - New Jersey</option>
                <option value="NM">NM - New Mexico</option>
                <option value="NY">NY - New York</option>
                <option value="NC">NC - North Carolina</option>
                <option value="ND">ND - North Dakota</option>
                <option value="MP">MP - Northern Mariana Islands</option>
                <option value="OH">OH - Ohio</option>
                <option value="OK">OK - Oklahoma</option>
                <option value="OR">OR - Oregon</option>
                <option value="PA">PA - Pennsylvania</option>
                <option value="PR">PR - Puerto Rico</option>
                <option value="RI">RI - Rhode Island</option>
                <option value="SC">SC - South Carolina</option>
                <option value="SD">SD - South Dakota</option>
                <option value="TN">TN - Tennessee</option>
                <option value="TX">TX - Texas</option>
                <option value="UM">UM - United States Minor Outlying Islands</option>
                <option value="UT">UT - Utah</option>
                <option value="VT">VT - Vermont</option>
                <option value="VI">VI - Virgin Islands</option>
                <option value="VA">VA - Virginia</option>
                <option value="WA">WA - Washington</option>
                <option value="WV">WV - West Virginia</option>
                <option value="WI">WI - Wisconsin</option>
                <option value="WY">WY - Wyoming</option>
                <option value="AA">AA - Armed Forces Americas</option>
                <option value="AE">AE - Armed Forces Africa</option>
                <option value="AE">AE - Armed Forces Canada</option>
                <option value="AE">AE - Armed Forces Europe</option>
                <option value="AE">AE - Armed Forces Middle East</option>
                <option value="AP">AP - Armed Forces Pacific</option>
            </select>
        </div>
        </div>

        <label class="usa-label" for="zip">ZIP code</label>
        <input class="usa-input usa-input--medium" id="zip" name="zip" pattern="[\d]{5}(-[\d]{4})?" />

        <label class="usa-label" for="urbanization">Urbanization (Puerto Rico only)</label>
        <input class="usa-input" id="urbanization" name="urbanization" />

        <label class="usa-label" for="phone-number">Phone Number</label>
        <small>Format: 123-456-7890</small>
        <input class="usa-input" id="phone-number" name="phone-number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" />

        <label class="usa-label" for="email">Email<abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
        <input class="usa-input" id="email" name="email" type="email" required />

        <label class="usa-label" for="position-name">Position You Are Applying For</label>
        <input class="usa-input" id="position-name" name="position-name" type="text" />

        <label class="usa-label" for="citizen-yes">U.S. Citizen?<abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
        <input id="citizen-yes" type="checkbox" name="citizen-yes" value="citizen-yes" required /><span> Yes</span>

        <label class="usa-label" for="position-referral">How did you hear about this position?</label>
        <input class="usa-input" id="position-referral" name="position-referral" type="text" />

        <!-- <label class="usa-label" for="resume-file">Please upload a current resume (Word document or PDF)<abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
        <input class="usa-input" type="file" id="resume-file" name="resume-file" accept=".doc, .docx, .pdf" required /> -->

        <div class="usa-form-group">
            <label class="usa-label" for="file-input-specific">Current Resume<abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
            <span class="usa-hint" id="file-input-specific-hint">Please upload a PDF or Word file</span>
            <input
                id="file-input-specific"
                class="usa-file-input"
                type="file"
                name="file-input-specific"
                aria-describedby="file-input-specific-hint"
                accept=".pdf,.doc,.docx"
                required
            />
        </div>


    </fieldset>
    <button class="usa-button submission-button" type="submit">Submit Application</button>
</form>
<script src="{{ site.baseurl }}/helpers/applicationFormSubmission.js"></script>