<section class="home-hero">
  <div class="grid-row">
    <div class="hero-left grid-col-7">
      <div class="hero-left-content">
        <div class="section-breadcrumb">{{ hero.breadcrumb }}</div>
        <h1>{{ hero.title }}</h1>
        <p>
          {{ hero.excerpt }}
        </p>
        <a class="square-link" href="{{ site.baseurl }}{{ hero.permalink }}">{{ hero.link_text }}</a>
        <div class="gray-box"></div>
      </div>
    </div>
    <div class="hero-right grid-col-5">
      <div class="hero-right-content">
        <img src="{{ site.baseurl }}/assets/img/heroes/{{ hero.title | slugify }}-banner.jpg" alt="{{ hero.img_alt_text }}">
      </div>
    </div>
  </div>
</section>