<section class="hero">
  <div class="grid-row">
    <div class="hero-left grid-col-7">
      <div class="hero-left-content">
        <div class="breadcrumb">{{ hero.breadcrumb }}</div>
        <a class="headline-link" href="{{ site.baseurl }}{{ hero.permalink }}">
          <h1>{{ hero.title }}</h1>
        </a>
        <p>
          {{ hero.excerpt }}
        </p>
        <a class="square-link" href="{{ site.baseurl }}{{ hero.permalink }}">{{ hero.link_text }}</a>
        <div class="gray-box"></div>
      </div>
    </div>
    <div class="hero-right grid-col-5">
      <div class="hero-right-content">
        <img src="{{ site.baseurl }}/assets/img/heroes/{{ hero.title | slugify }}-banner.png" alt="{{ hero.img_alt_text }}">
      </div>
    </div>
  </div>
</section>
