<div class="how-to-apply">
  <h2>How to Apply</h2>
  <p>
    To apply for this position, please send your <strong>resume and cover letter</strong> to <a href="mailto:HRD.Schedule.A.Expert.Intern.Fellows.Hiring@census.gov?subject=subject_line">HRD.Schedule.A.Expert.Intern.Fellows.Hiring@census.gov</a>.
  </p> 
  <h3>Resume Format</h3>
  <p>
    We recommend formatting your resume in a way that highlights any and all
    experience you have in data science, IT, software development, and the 
    management of technology projects. We also recommend following the guidance
    published by both
    <a class="usa-link" href="https://www.usajobs.gov/Help/faq/application/documents/resume/what-to-include/" target="_blank">USAJobs</a> and the
    <a class="usa-link" href="https://handbook.tts.gsa.gov/hiring-staying-or-changing-jobs/resume/" target="_blank">Technology Transformation Service (TTS)</a>
    to ensure your application recieves the fullest consideration.
  </p>
  <p>
    For more information about the Emerging Technology Fellowship, please visit the official 
    <a href="https://www.census.gov/about/census-careers/opportunities/programs/etf.html" target="_blank">Census webpage</a>.
  </p>
  <p>
    If you have additional questions, please reach out to <a class="usa-link long-link" href="mailto:inquiries@xd.gov">inquiries@xd.gov</a>
  </p>
</div>
<a class="usa-button usa-button-black" href="mailto:HRD.Schedule.A.Expert.Intern.Fellows.Hiring@census.gov?subject=subject_line">Apply Now</a>
<span class="margin-left-1">or</span>
<a class="usa-link margin-left-2" href="{{ site.baseurl }}/apply">View All Open Positions</a>