<div class="news-item news-item-sm grid-row grid-gap-lg">
  <div class="grid-col-4">
    <a href="{{ site.baseurl }}{{ news.permalink }}">
      <img class="news-img" src="{{ site.baseurl }}/assets/img/news/{{ news.title | slugify }}.jpg" alt="{{ news.img_alt_text }}">
    </a>
  </div>
  <div class="grid-col-8">
    <h3>
      <a href="{{ site.baseurl }}{{ news.permalink }}">{{ news.title }}</a>
    </h3>
    <a class="square-link" href="{{ site.baseurl }}{{ news.permalink }}">Learn More<span class="visually-hidden"> about {{ news.title }}</span></a>
  </div>
</div>