<div class="position-list-item tablet:grid-col-12 project-card position-card margin-top-4">
  <div class="project-card-content">
    <h2 class="margin-top-2"><strong>{{ position.title }}</strong></h2>
    <p class="position-subtitle">{{ position.subtitle }}</p>
    {{ position.content }}
    <p>
      <a class="usa-button usa-button-black" href="mailto:HRD.Schedule.A.Expert.Intern.Fellows.Hiring@census.gov?subject=Emerging Technology Fellowship Application">
        Email Your Application Today
      </a>
    </p>
    <p class="font-size-sm margin-bottom-0">Applications must include your resume or CV and be emailed to: <strong>HRD.Schedule.A.Expert.Intern.Fellows.Hiring@census.gov</strong>. Please include the subject line "Emerging Technology Fellowship Application."</p>
  </div>
</div>