<div class="col-12 tablet:grid-col-4 project-cards">
  <div class="project-card">
    <a href="{{ site.baseurl }}{{ project.permalink }}">
      <img src="{{ site.baseurl }}/assets/img/projects/{{ project.title | slugify }}/{{ project.title | slugify }}-card.jpg" alt="{{ project.img_alt_text }}">
    </a>
    <div class="project-card-content">
      <h3>
        <a href="{{ site.baseurl }}{{ project.permalink }}">{{ project.title }}</a>
      </h3>
      <p>{{ project.subtitle }}</p>
      <a class="square-link" href="{{ site.baseurl }}{{ project.permalink }}">Learn More</a>
    </div>
  </div>
</div>