<div class="col-12 tablet:grid-col-4 project-cards">
  <div class="team-member-card">
    <img id="{{ member.image_id }}" alt="Image of {{member.name}}" src="{{ site.baseurl }}{{ member.image_path }}" />
    <h4 class="team-member-heading">{{ member.name }}</h4>
    <h4 class="team-member-heading">{{ member.job_title }}</h4>
    {% if member.portfolio %}
      <h4>Project Status: {{member.portfolio}}</h4>
    {% endif %}
    <!-- <div class="breadcrumb"></div> -->
    <div class="member-card-content">
      {{ member.blurb }}
    </div>
  </div>
</div>