<div class="col-12 tablet:grid-col-4 team-member-cards">
  <a class="member-link" href="{{ site.baseurl }}{{ member.permalink }}">
    <div class="team-member-card">
      <img alt="Image of {{member.name}}" src="{{ site.baseurl }}{{ member.image_path }}" />
      <h4 class="team-member-heading member-name">{{ member.name }}</h4>
      <h4 class="team-member-heading member-title">{{ member.job_title }}</h4>
      <div class="bio-content">
        {{ member.description }}
      </div>
      <ul class="skills-container usa-list--unstyled">
        {% assign skillsets = member.skillsets | split: "," %}
        {% for skill in skillsets %}
          <li class="skills-tag">
            <span class="skill-text {{ skill | slugify }}">{{ skill }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </a>
</div>
