---
layout: default
---
<div class="project-content">
  <div class="usa-grid">
    <div class="breadcrumbs">
      Projects > {{ page.title }}
    </div>
  </div>
  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      <h1>{{ page.title }}</h1>
      <h2 class="project-subtitle">{{ page.subtitle }}</h2>
      {{ content }}
    </div>
    <div class="usa-width-one-third project-sidebar">
      <img alt="{{ page.title }}" src="{{ site.baseurl }}/assets/img/pages/index/dds-image.jpg">
      <h4 class="sidebar-heading">Agency Partner</h4>
      <p class="sidebar-value">{{ page.agency_partner }}</p>
      <h4 class="sidebar-heading">See the Project</h4>
      <p class="sidebar-value"><a href="/">The Data Design Standards</a></p>
    </div>
  </div>
</div>