---
layout: default
---
<div class="project-content">
  <div class="usa-grid">
    <div class="breadcrumbs">
    </div>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
    <figure>
      <img alt="{{ page.title }}" src="{{ site.baseurl }}/assets/img/pages/index/dds-image.jpg">
      <figcaption>This is the image.</figcaption>
    </figure>
  </div>
  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      {{ content }}
    </div>
    <div class="usa-width-one-third">
      <h4>Agency Partner</h4>
      <p>Agency Name</p>
      <h4>See the Project</h4>
      <a href="/">The Data Design Standards</a>
    </div>
  </div>
</div>